<a href="https://colab.research.google.com/github/ramaalfin/modul_python/blob/master/modul_python_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('contoh string yang dibuat menggunakan kutip satu')

contoh string yang dibuat menggunakan kutip satu

In [ ]:
print("contoh string yang dibuat menggunakan kutip dua")

contoh string yang dibuat menggunakan kutip dua

In [ ]:
'ini adalah string tanpa menggunakan print() - 1'

'ini adalah string tanpa menggunakan print() - 1'

In [ ]:
"ini adalah string tanpa menggunakan print() - 2"

'ini adalah string tanpa menggunakan print() - 2'

In [ ]:
print("")

In [ ]:
print('')

In [ ]:
""

''

In [ ]:
''

''

In [ ]:
print('My father's clothes')

SyntaxError: ignored

In [ ]:
print("I said, "good bye!" ")

In [ ]:
print("My father's clothes")

In [ ]:
print('I said, "welcome!" ')

In [ ]:
print('My father\'s clothes')

In [ ]:
print("I said, \"good morning!\" ")

In [ ]:
print(123)

In [ ]:
10

In [ ]:
print(-27)

In [ ]:
print(0.1)

In [ ]:
-1.2

In [ ]:
print(.50)

In [ ]:
print(.23)

In [ ]:
print(.5)

In [ ]:
print(3.)

In [ ]:
3.

In [ ]:
print(1 == 2)

In [ ]:
1 == 2

In [ ]:
print(2 == 2)

In [ ]:
2 == 2

In [ ]:
print("Dia" == 'dia')

In [ ]:
"Dia" == 'dia'

In [ ]:
print('saya' == 'saya')

In [ ]:
'saya' == 'saya'

In [ ]:
type(1)

In [ ]:
type(-1)

In [ ]:
type(0.1)

In [ ]:
type('ini buku')

In [ ]:
type(1 == 2)

In [ ]:
type(False)

In [ ]:
type(1)

In [ ]:
float(1)

In [ ]:
type(float(1))

In [ ]:
int(2.3)

In [ ]:
int(-2.7)

In [ ]:
int(76.75)

In [ ]:
int('12')

In [ ]:
int('-1')

In [ ]:
float('11.2')

In [ ]:
float('-11.2')

In [ ]:
int('15 derajat')

In [ ]:
float('1.5 dan 2.5')

In [ ]:
str(123)

In [ ]:
str(-123)

In [ ]:
str(12.34)

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
float(True)

In [ ]:
float(False)

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
bool(1.0)

In [ ]:
bool(0.0)

EKSPRESI

In [ ]:
12 + 23

In [ ]:
12 + 34 + 45

In [ ]:
x = 10

In [ ]:
y = 20

In [ ]:
x + y # Ekspresi penjumlahan dengan operand berupa variabel

TypeError: ignored

In [ ]:
x + y + 25 # Ekspresi penjumlahan dengan operand berupa variabel dan angka

In [ ]:
10 - 5

In [ ]:
100 - 25 -10

In [ ]:
x = 20

In [ ]:
y = 10

In [ ]:
x - y # Ekspresi pengurangan dengan operand berupa variabel

In [ ]:
x - y - 2 # Ekspresi pengurangan dengan operand berupa variabel dan angka

In [ ]:
2 * 2

In [ ]:
2 * 2 * 5

In [ ]:
x = 20
y = 10
x * y

In [ ]:
x * 5 # Ekspresi perkalian dengan operand berupa variabel

In [ ]:
10 / 2

In [ ]:
10 / 2 /5

In [ ]:
x = 20
y = 10 
x / y # Ekspresi modulo dengan operand berupa variabel dan angka

In [ ]:
x / 5 # Ekspresi pembagian dengan operand berupa variabel dan angka

In [ ]:
10 % 2

In [ ]:
10 % 4

In [ ]:
x = 20 
y = 10 
x % y # Ekspresi modulo dengan operand berupa variabel

In [ ]:
x % 3 # Ekspresi modulo dengan operand berupa variabel dan angka

In [ ]:
10 // 4

In [ ]:
20 // 5

In [ ]:
x = 20 
y = 10 
x // y

In [ ]:
9 // 4

In [ ]:
9 // -4

In [ ]:
2 ** 3 # Dua pangkat Tiga

In [ ]:
x = 10
y = 2
x ** y # x pangkat y

In [ ]:
x ** 3

In [ ]:
5 ** y

In [ ]:
(10 + 15) * 8 / 4

In [ ]:
20 / (4 - 2)

In [ ]:
20 / 4 - 2

In [ ]:
a = 10 
b = 2 
c = 3 
(a + b) * c

In [ ]:
a + b * c

List

In [ ]:
x = [1, 2, 3] 
print(x)

In [ ]:
vegetables = ['carrot', 'cucumber', 'potato']
print(vegetables)

In [ ]:
y = ['Doe', 21, False, 2.1]
print(y)

In [ ]:
vegetables = ['carrot', 'cucumber', 'potato'] 
vegetables[1]

In [ ]:
vegetables[-1]

In [ ]:
print(vegetables[2])

In [ ]:
vegetables = ['carrot', 'cucumber', 'spinach','cabbage','beans'] 
vegetables[0:3]

In [ ]:
vegetables[0:1]

In [ ]:
print(vegetables[2:4])

In [ ]:
vegetables = ['carrot', 'cucumber', 'spinach','cabbage','beans']

In [ ]:
vegetables[::4]

In [ ]:
vegetables[0::3]

In [ ]:
vegetables [1:2:2]

In [ ]:
a = [[1, 2], [3,4], [5,6]] 
a

In [ ]:
b = [1, 'carrot', ['x', 'y'], 10.5, [10, 30]] 
print(b)

In [ ]:
b = [1, 'carrot', ['x', 'y'], 10.5, [10, 30]] 
b[4][1]

In [ ]:
b[4][0]

In [ ]:
b[2][1]

In [ ]:
b[2][0]

In [ ]:
vegetables = ['carrot', 'cucumber', 'spinach','cabbage','beans'] 
vegetables

In [ ]:
vegetables[3] = 'brocoli' # Mengubah isi indeks 3 menjadi 'brocoli' 
vegetables

In [ ]:
vegetables[3] = 'brocoli' # Mengubah isi indeks 3 menjadi 'brocoli' 
vegetables

In [ ]:
# Menambahkan nilai 1 dan 2 pada akhir list vegetables 
vegetables = ['carrot', 'asparagus', 'spinach','brocoli','beans']
vegetables = vegetables + [1, 2] 
vegetables

In [ ]:
# Menambahkan 'cabbage' pada awal list vegetables 
vegetables = ['cabbage'] + vegetables 
print(vegetables )

In [ ]:
vegetables = ['carrot', 'asparagus', 'spinach','brocoli','beans']
vegetables.append('cabbage')
vegetables

In [ ]:
vegetables = ['carrot', 'asparagus', 'spinach','brocoli','beans']
a = vegetables.append('cabbage')
a

In [ ]:
vegetables = ['carrot', 'asparagus', 'spinach','brocoli','beans']
vegetables.extend('cabbage')
print(vegetables)

In [ ]:
vegetables = ['carrot', 'asparagus', 'spinach','brocoli','beans']
vegetables.extend(['cabbage'])
print(vegetables)

In [ ]:
vegetables = ['carrot', 'asparagus', 'spinach','brocoli','beans']
vegetables.insert(1, 'cabbage')
print(vegetables)

In [ ]:
vegetables = ['carrot', 'asparagus', 'spinach','brocoli','beans']
del vegetables[2]
vegetables

In [ ]:
vegetables = ['carrot', 'asparagus', 'spinach','brocoli','beans']
vegetables.remove('brocoli')
vegetables

In [ ]:
vegetables = ['carrot', 'asparagus', 'spinach','brocoli','beans']
vegetables.pop(2)
vegetables

In [ ]:
vegetables = ['carrot', 'asparagus', 'spinach','brocoli','beans']
vegetables.pop()
vegetables

Dictionary

In [ ]:
a = {1: 'a', 2: 'b', (3,4): 'c'}
a

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor',
    'umur': 20
    }
data_siswa

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor',
    'umur': 20
    }
data_siswa['nama'] # Mengakses value dengan key 'nama'

In [ ]:
data_siswa['kota']

In [ ]:
data_siswa.get('nama')

In [ ]:
data_siswa.get('kota')

In [ ]:
data_siswa.values()

In [ ]:
data_siswa.keys()

In [ ]:
[*data_siswa]

In [ ]:
students = {'student1': {'name': 'Doe', 'age': 30},
            'student2': {'name': 'Robert', 'age': 31},
            'student3': {'name': 'Andy', 'age': 33}
            }
students

In [ ]:
student1 = {'name': 'Doe', 'age': 30}
student2 = {'name': 'Robert', 'age': 31}
student3 = {'name': 'Andy', 'age': 33}

students= {
 'student1': student1,
 'student2': student2,
 'student3': student3
}
students

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor', 
    'umur': 20
}
data_siswa['kota'] = 'Bandung' # Mengubah data kota
data_siswa

In [ ]:
data_siswa['umur'] = 21 # Mengubah data umur
data_siswa

In [ ]:
students = {
    'student1' : {'name': 'Doe', 'age': 30},
    'student2' : {'name': 'Robert', 'age': 31},
    'student3' : {'name': 'Andi', 'age': 32}
    }
    
students['student3']['age'] = 34 # Mengubah nilai age
students

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor',
    'umur': 20
}
data_siswa ['jurusan'] = 'Teknik Informatika' # Menambahkan key 'jurusan' yang diberikan nilai 'Teknik Informatika'
data_siswa

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor',
    'umur': 20,
    'jurusan':'Teknik Informatika'
}
data_siswa.pop('kota') # Menghapus kota
print(data_siswa)

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor',
    'umur': 20,
    'jurusan':'Teknik Informatika'
}

data_siswa.popitem() # Method popitem() akan menghapus nilai akhir
print(data_siswa)

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor',
    'umur': 20,
    'jurusan':'Teknik Informatika'
}
del data_siswa['umur'] # Menghapus umurmenggunakan del
print(data_siswa)

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor',
    'umur': 20,
    'jurusan':'Teknik Informatika'
}
del data_siswa # Menghapus dictionary data_siswa
print(data_siswa)

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor',
    'umur': 20,
    'jurusan':'Teknik Informatika'
}
data_siswa.clear() # Mengosongkan isi dictionary dengan clear()
print(data_siswa)

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor',
    'umur': 20,
    'jurusan':'Teknik Informatika'
}
# Menduplikasi 'data_siswa' ke dalam dictionary baru ke dalam 'siswa'
siswa = data_siswa.copy() 
print(siswa)

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor',
    'umur': 20,
    'jurusan':'Teknik Informatika'
}

len(data_siswa) # Menghitung panjang dictionary (jumlah item)

In [ ]:
data_siswa = {
    'nama': 'Ira',
    'kota': 'Bogor',
    'umur': 20,
    'jurusan':'Teknik Informatika'
}

'nama' in data_siswa # Mengecek apakah 'nama' ada sebagai key di data_siswa

In [ ]:
'hobi' in data_siswa

Seleksi Kondisi

In [ ]:
a = 2 
a == 4 # Contoh penggunaan operator ==

In [ ]:
a = 2
a != 4 # Contoh penggunaan operator !=

In [ ]:
a = 2
a > 4 # Contoh penggunaan operator >

In [ ]:
a = 2
a < 4 # Contoh penggunaan operator <

In [ ]:
a = 2
4 > a

In [ ]:
a = 2
4 < a

In [ ]:
a = 2
a >= 4 # Contoh penggunaan operator >=

In [ ]:
a = 2
a <= 4 # Contoh penggunaan operator <=

In [ ]:
'HAI' == 'Hai' # Operator perbandingan untuk membandingkan string

In [ ]:
'HAI' != 'Hai'

In [ ]:
'B' > 'C'

In [ ]:
'C' > 'B'

In [ ]:
voucher = 'Yes'
# Penyataan kondisi
if voucher == 'Yes':
  
  # Perintah di dalam indentasi (ditulis menjorok ke dalam) yang dieksekusi jika kondisi terpenuhi
  print('berhasil')

In [ ]:
voucher = 'No'
# Penyataan kondisi
if voucher == 'Yes':
  
  # Perintah yang dieksekusi jika kondisi terpenuh
  print('berhasil')

In [ ]:
voucher = 'No'
# Penyataan kondisi
if voucher == 'Yes':
  
  # Perintah yang dieksekusi jika kondisi terpenuhi
  print('berhasil')
  
# Perintah yang dieksekusi baik saat kondisi terpenuhi maupun tidak
print('Selamat!')

In [ ]:
voucher = 'Yes'
# Penyataan kondisi
if voucher == 'Yes':
  
  # Perintah yang dieksekusi jika kondisi terpenuhi
  print('berhasil')
  
# Perintah yang dieksekusi baik saat kondisi terpenuhi maupun tidak
print('Selamat !')

In [ ]:
voucher = 'Yes'
# Penyataan kondisi
if voucher == 'Yes':
  
  # Perintah yang dieksekusi jika kondisi terpenuhi
  print('berhasil')

else:
	
  # perintah yang dieksekusi jika kondisi tidak terpenuhi
	print('beli voucher dahulu')

print('Selamat!')

In [ ]:
voucher = 'No'
# Penyataan kondisi
if voucher == 'Yes':

  # Perintah yang dieksekusi jika kondisi terpenuhi
  print('berhasil')
else:

	# perintah yang dieksekusi jika kondisi tidak terpenuhi
	print('beli voucher dahulu')
 
print('Selamat!')

In [ ]:
x = 2
if (x % 2 == 1):
  print(x, 'adalah bilangan ganjil')
else:
  print(x, 'adalah bilangan genap')

In [ ]:
usia = 20
if (usia > 20):
  print('Silahkan masuk ke ruang A')
elif (usia == 20):
  print('Silahkan masuk ke ruang B')
else:
  print('Anda tidak boleh masuk')

In [ ]:
biaya = 30000

if (biaya > 10000):
    biaya = biaya - (biaya * 0.15)
    print('diskon 15%')
  
elif(biaya == 20000):
    biaya = biaya - (biaya * 0.1)
    print('diskon 10%')
 
else:
	  biaya = biaya

print('Total yang harus dibayar adalah Rp. {:.0f}'.format(biaya))
print('\nTerima kasih!')

In [ ]:
# Contoh penggunaan operator logika 'and'
angka = 90
if (angka>= 80):
	 nilai = 'A'
elif (angka>= 70 and angka< 80):
 	nilai = 'B'
elif (angka>= 60 and angka< 70):
 	nilai = 'C'
elif (angka>= 50 and angka< 60):
 	nilai = 'D'
elif (angka< 50):
 	nilai = 'E'
 
print('Nilai akhir adalah ', nilai)

In [ ]:
# Contoh penggunaan operator logika 'or'
nilai = 'B'
if (nilai == 'A' or nilai == 'B' or nilai == 'C'):
 	print('Berhasil!')
else:
 	print('Gagal')

In [ ]:
# Contoh penggunaan operator logika 'not'
nilai = 80
if not nilai == 85:
	print('Gagal!')
else:
	print('Berhasil!')

Fungsi

In [ ]:
# Contoh fungsi untuk menambah nilai dengan angka 2
def tambah_dua(a):
	b = a + 2
	return b
# Memanggil fungsi tambah_dua
tambah_dua(1)

In [ ]:
# Contoh fungsi perkalian dua bilangan
def perkalian(x, y):
	z = x * y
	return print(x, 'dikali', y, 'sama dengan ', z)
# Memanggil fungsi perkalian
perkalian(2,3)

In [ ]:
a1 = 2
b1 = 3
c1 = a1 * 3 + b1 * 4

if (c1 > 25):
  c1 = c1
else:
  c1 = 0

In [ ]:
a2 = 5
b2 = 6
c2 = a2 * 3 + b2 * 4

if (c2 > 25):
  c2 = c2
else:
  c2 = 0

In [ ]:
# Fungsi untuk menghitung a dan b
def hitung_ab(a, b):
  c = a * 3 + b * 4
  
  if (c > 25):
   c = c
   
  else:
   c = 0
  
  return c

In [ ]:
a1 = 2
b1 = 3
c1 = hitung_ab(a1, b1)
c1

In [ ]:
a2 = 5
b2 = 4
c2 = hitung_ab(a2, b2)
c2

In [ ]:
# Contoh penggunaan variabel global dan local
kota_asal = 'Bogor'

def kota(kota_asal):
  kota_indo = kota_asal
  print(kota_indo, 'adalah salah satu kota di Indonesia')
kota(kota_asal)

In [ ]:
kota_asal = 'Bogor'
def kota(kota_asal):
  global kota_indo
  kota_indo = 'Jakarta Timur'
  print(kota_asal, 'adalah salah satu kota di Indonesia')
  
kota(kota_asal)
kota(kota_indo)

In [ ]:
# Contoh fungsi dengan if...else
def bio(nama, pelajaran, nilai):
  print(nama, pelajaran, nilai)
  
  if (nilai > 75):
    return 'Selamat Anda Lulus!'
  else:
    return 'Mohon Maaf, Anda Tidak Lulus!'

# Panggil fungsi dan definisikan ke variabel x
x = bio('Agus', 'Kalkulus', 85)
print(x)

In [ ]:
# Contoh fungsi dengan perulangan for
def list_film(film):
	 for item in film:
		 print(item)
   
# Panggil fungsi
list_film(['The Avengers', 'Amazing Spiderman', 'Dr. Strange'])

In [ ]:
# Contoh fungsi dengan argumen default
def nilai_akhir(nilai = 50):
  if (nilai < 60):
    print('Nilai = ', nilai)
    print('Remedial!')
  else:
    print('Nilai = ', nilai)
    print('Anda Lulus!')
    
# Memanggil fungsi dengan argument
nilai_akhir(80)

In [ ]:
# Memanggil fungsi tanpa argument
nilai_akhir()

In [ ]:
# contoh penggunaan print
list = [10, 21, 34, 29, 56]
print(list)

In [ ]:
# contoh penggunaan len
list = [10, 21, 34, 29, 56]
len(list )

In [ ]:
# contoh penggunaan sum
list = [10, 21, 34, 29, 56]
sum(list)

In [ ]:
# contoh penggunaan min
list = [10, 21, 34, 29, 56]
min(list)

In [ ]:
# contoh penggunaan max
list = [10, 21, 34, 29, 56]
max(list)

In [ ]:
# contoh penggunaan sorted
list = [10, 21, 34, 29, 56]
sorted(list)

In [ ]:
#  contoh penggunaan type
list = [10, 21, 34, 29, 56]
type(list)

In [ ]:
# contoh penggunaan round
round(8.5666)

In [ ]:
# contoh penggunaan round
round(7.4)

In [ ]:
# contoh penggunaan abs
abs(-20/5)

Numpy 2 Dimensi

In [ ]:
# Import numpy
import numpy as np

In [ ]:
list_a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list_a

In [ ]:
A = np.array(list_a)
A

In [ ]:
A.ndim # Mengetahui dimensi array dari array A

In [ ]:
A.size # Mengecek jumlah elemen

In [ ]:
A.shape # Mengecek ukuran array di tiap dimensi

In [ ]:
A.dtype # Mengecek tipe data array

In [ ]:
A[1, 1] # Mengambil elemen pada baris 2 kolom 2

In [ ]:
A[1, 2] # Mengambil elemen pada baris 2 kolom 3

In [ ]:
A[0, 2] # Mengambil elemen pada baris 1 kolom 3

In [ ]:
A[1][:3] # Mengambil elemen pada baris 2 kolom 1-3

In [ ]:
A[1, :3] # Mengambil elemen pada baris 2 kolom 1-3

In [ ]:
A[1, :2] # Mengambil elemen pada baris 2 kolom 1-2

In [ ]:
A[0:, 1] # Mengambil elemen pada baris 1-3 kolom 2

In [ ]:
A # Menampilkan array A

In [ ]:
A + 5 # Menjumlahkan array X dengan konstanta 5

In [ ]:
X = np.array([[1, 2], [3, 4]]) # Membuat array 
X

In [ ]:
Y = np.array([[1, 3], [1, 2]]) # Membuat array Y
Y

In [ ]:
X + Y # Menjumlahkan array X dan Y

In [ ]:
X # Menampilkan array X
X * 3 # Mengalikan array X dengan 3

In [ ]:
X # Menampilkan array X
Y # Menampilkan array Y
X * Y # Mengalikan array X dan Y

In [ ]:
X # Menampilkan array X
Y # Menampilkan array Y
np.dot(X, Y) # Dot product dari array X dan Y